@font-face {
    font-family: "Big Deal";
    src: url("assets/fontes/aBigDeal.ttf");
}
@font-face {
    font-family: "Gill Sans";
    src: url("assets/fontes/gillsans-extrabold.ttf");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("assets/Imagens/Fundo.png");
    background-attachment: fixed;
    background-size: 100%;
    align-items: center;
}

.titulo {
    position: fixed;
    font-family: "Big Deal";
    font-size: 17vh;
    color:aliceblue;
    text-shadow: 1vw 2vh rgba(0, 0, 0, 0.764)
}
.painel_cabecalho{
    display: flex;
    justify-content: center;

    margin: 15vh;
    width: 60vw;
    height: 9vh;
    padding-bottom: 30vh;
    background-color: rgba(175, 218, 255, 0.764);
    border-radius: 20px;

    font-family: Verdana;
}

.conteudo {
    display: flex;
    position: fixed;
    top: 66vh;
    width: 49vw;
    height: 23vh;
    background-color: rgba(175, 218, 255, 0.764);
    padding: 10px;
    border-radius: 20px;
    
    justify-content: center;
    font-family: Verdana;
}

.botao {
    background-color: rgb(60, 135, 255);
    height: 10vh;
    width: 48vw;
    border-radius: 10px;
    font-family: "Gill Sans";
    font-size: 3vh;
    border-color: rgb(255, 255, 255);
    color: azure;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}
.botao:hover {
    background-color: rgb(255, 136, 0);
}

.botao_lab {
    position: fixed;
    background-color: rgb(60, 135, 255);
    height: 10vh;
    width: 48vw;
    border-radius: 10px;
    font-family: "Gill Sans";
    font-size: 3vh;
    border-color: rgb(255, 255, 255);
    color: azure;

    bottom: 11vh;
    right: 26vw;

    cursor: pointer;
}
.botao_lab:hover {
    background-color: rgb(255, 136, 0);
}